<h1>Sign Up!</h1>

<form action="<%= users_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="">Email
        <input type="text" name="user[email]" value="">
    </label>
    <label for="">Password
        <input type="text" name="user[password]" value="">
    </label>
    <input type="submit" value="Sign Up!">
</form>